# Virtual environment
venv/
.venv/
env/
ENV/

# Database files
*.db
db.db
db.db-journal

# Configurations and secrets
.env

# Python compilation and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.SyncID
.SyncState
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local guide
install_guide.html
